html{
	background: #4FFFFF url(../images/html_bg3.png) repeat-x;
}
body{
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em;
	width: 100%;
	height: 100%;
	font-size:14px;

}
#general{
	
	
}

#cabezera, #principal, #lineb, #pie ,.redondo{
	width: 90%;
	/* Asignacion de los margenes del comportamiento de los div encargados del maquetado principal
	 * margen top left button rigth*/
	margin: auto auto 3px  auto;
	border: 1px solid #cccccc;
	background: #FFFFFF;

	-khtml-border-radius: 6px;
  	-moz-border-radius: 6px;
  	-webkit-border-radius: 6px;
  	border-radius: 6px;
	
}

#cabezera{
}

#logo{
	background: transparent url('../images/socied_logo.png') 1% 1%  no-repeat;
	height: 60px;
	text-shadow: #000000 4px 5px 5px; 
	font-size: 19px; 
}
#infoSession{
	border: 1px solid #cccccc;
	font-size: 13px;
	
}

#mensaje{
	display: none;
	position:relative;
	z-index:2;
	width: 80%;
	margin-left:2%;
        margin-top: 3px;
		
}

#principal{

	
}

#menu{
	width: 17%;
	height: 450px;
	float: left;
	border: 1px solid #cccccc;
	position: absolute;
}

#contenido{
	overflow: auto;
	width: 74%;
	height: 450px;
	border: 1px solid #cccccc;
	position: felative;
	padding-left: 26%;
	-khtml-border-radius: 6px;
  	-moz-border-radius: 6px;
  	-webkit-border-radius: 6px;
  	border-radius: 6px;
	
	
}


#pie{

	
}
#conPie{
	width: 100%;
	float: left;
	font-size: 10px;
	text-align:center;
	text-decoration: none;
	
}
 a{
	text-decoration: none;
}

#dialog, .ui-dialog-buttonset{
	font-size:10px;
}

#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

.formulario{
	font-size:11px;
	width:98%;
}
ul li{
	font-size:12px;
}
.subTitulos{
    font-size:12px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.colorN{
    background-color: #f9f9f9;
}
#ui-datepicker-div{
    font-size:11px;
}
a{
    text-decoration: none;
}
#salir{
    margin-left: 90%;
    width: 70px;
    margin-top: -19px;
}
#buttEnviar{
        text-align: center;
}
#time{
    width: 5%;
    margin-left: 66%;
    margin-top: -15px;
    
}

form ul li {
	margin:10px 20px;

}
form ul li:last-child {
	text-align:center;
	margin:20px 0 10mkd
}

input:focus {
	border:1px solid #b9d4e9;
	border-top-color:#b6d5ea;
	border-bottom-color:#b8d4ea;
	box-shadow:0 0 5px #b9d4e9;
	}
label {
	color:#555;
}
#container span {
	background:#f6f6f6;
	padding:3px 5px;
	display:block;
	border-radius:5px;
	margin-top:5px;
}
button {
	background: #57a9eb; /* Old browsers */
	background: -moz-linear-gradient(top, #57a9eb 0%, #3a76c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57a9eb), color-stop(100%,#3a76c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #57a9eb 0%,#3a76c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #57a9eb 0%,#3a76c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #57a9eb 0%,#3a76c4 100%); /* IE10+ */
	background: linear-gradient(top, #57a9eb 0%,#3a76c4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57a9eb', endColorstr='#3a76c4',GradientType=0 ); /* IE6-9 */
	border:1px solid #326fa9;
	border-top-color:#3e80b1;
	border-bottom-color:#1e549d;
	color:#fff;
	text-shadow:0 1px 0 #1e3c5e;
	font-size:.875em;
	padding:8px 15px;
	width:100px;
	border-radius:20px;
	box-shadow:0 1px 0 #bbb, 0 1px 0 #9cccf3 inset;
}
button:active {
	background: #3a76c4; /* Old browsers */
	background: -moz-linear-gradient(top, #3a76c4 0%, #57a9eb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a76c4), color-stop(100%,#57a9eb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3a76c4 0%,#57a9eb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3a76c4 0%,#57a9eb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3a76c4 0%,#57a9eb 100%); /* IE10+ */
	background: linear-gradient(top, #3a76c4 0%,#57a9eb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a76c4', endColorstr='#57a9eb',GradientType=0 ); /* IE6-9 */
	box-shadow:none;
	text-shadow:0 -1px 0 #1e3c5e;
        margin-top: 220px;
}
#pswd_info {
	position:absolute;
	top:290px;
	right:55px;
	width:250px;
	padding:3px;
	background:#fefefe;
	font-size:.875em;
	border-radius:5px;
	box-shadow:0 1px 3px #ccc;
	border:1px solid #ddd;
}
#pswd_info h4 {
	margin:0 0 10px 0;
	padding:0;
	font-weight:normal;
}
#pswd_info::before {
	content: "\25B2";
	position:absolute;
	top:-12px;
	left:40%;
	font-size:14px;
	line-height:14px;
	color:#ddd;
	text-shadow:none;
	display:block;
}
.invalid {
	background:url(../images/cancel.png) no-repeat 0 50%;
	padding-left:22px;
	line-height:24px;
	color:#ec3f41;
}
.valid {
	background:url(../images/accept.png) no-repeat 0 50%;
	padding-left:22px;
	line-height:24px;
	color:#3a7d34;
}	
#pswd_info {
	display:none;
}	
/** Estilo para los selectores de contactos */
     #medico, #ceguera{

        margin-left: -5px;
        margin-top: -20px;
        position: relative;
        z-index: 1;
        width: 15px;
        
    }