html{
	background: #4FFFFF url(../images/html_bg3.png) repeat-x;
}
body{
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em;
	width: 100%;
	height: 100%;
	font-size:14px;

}
#general{
	
	
}
#general2{
    width: 50%;	
    height: 200px;
    margin-top: 10%;
    margin-left: 22%;
}

#cabezera, #principal, #lineb, #pie ,.redondo{
	width: 90%;
	/* Asignacion de los margenes del comportamiento de los div encargados del maquetado principal
	 * margen top left button rigth*/
	margin: auto auto 3px  auto;
	border: 1px solid #cccccc;
	background: #FFFFFF;

	-khtml-border-radius: 6px;
  	-moz-border-radius: 6px;
  	-webkit-border-radius: 6px;
  	border-radius: 6px;
	
}

#cabezera{
}

#logo{
	background: transparent url('../images/socied_logo.png') 1% 1%  no-repeat;
	height: 60px;
	text-shadow: #000000 4px 5px 5px; 
	font-size: 19px; 
}
#infoSession{
	border: 1px solid #cccccc;
	font-size: 13px;
	
}

#mensaje{
	display: none;
	position:relative;
	z-index:2;
	width: 80%;
	margin-left:2%;
        margin-top: 3px;
		
}

#principal{

	
}


#contenido{
	width: 74%;
	height: 450px;
	border: 1px solid #cccccc;
	position: felative;
	padding-left: 26%;
	-khtml-border-radius: 6px;
  	-moz-border-radius: 6px;
  	-webkit-border-radius: 6px;
  	border-radius: 6px;	
}
#contenido2{
	width: 100%;
	height: 200px;
	border: 1px solid #cccccc;
	position: felative;
	-khtml-border-radius: 6px;
  	-moz-border-radius: 6px;
  	-webkit-border-radius: 6px;
  	border-radius: 6px;	
        text-shadow: #000000 4px 5px 5px; 
	font-size: 19px; 
}

#pie{

	
}
#conPie{
	width: 100%;
	float: left;
	font-size: 10px;
	text-align:center;
	text-decoration: none;
	
}
 a{
	text-decoration: none;
}

#dialog, .ui-dialog-buttonset{
	font-size:10px;
}

#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

#contenido #tablaLogin{
	width:40%;
	border: 1px solid #333;
	background-image:url(../images/login.png);
	color:#fff;
	padding-left: 10px;
        padding-top: 12px;
	margin: 0 auto 0 12%; 
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
}
#contenido #tablaLogin H4{
    color:#fff;
     padding-top: 17px;
}

input.loginuser {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
	background-image:url(../images/user_key.png);
	background-position:right center;
	background-repeat:no-repeat;
	height:23px;
	padding-left:5px;

}

.loginpass {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
	background-image:url(../images/key_start.png);
	background-position:right center;
	background-repeat:no-repeat;
	height:23px;
	padding-left:5px;
}
.botomInicio{
	background:#cccccc;
	color:#454545;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
}
.formulario{
	font-size:11px;
	width:99%;
}
ul li{
	font-size:12px;
}
.subTitulos{
    font-size:12px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.colorN{
    background-color: #f9f9f9;
}
#ui-datepicker-div{
    font-size:11px;
}
a{
    text-decoration: none;
}
#salir{
    margin-left: 90%;
    width: 70px;
    margin-top: -19px;
}
#buttEnviar{
	padding-left:350px;
}
